In [21]:
# Import libraries
import pandas as pd
import numpy as np
import requests 
import re

# Pandas display options
pd.set_option('display.max_columns', None)

In [22]:
end_point_1 = 'https://datos.madrid.es/egob/' # Main End-Point
body_1 = 'catalogo/202311-0-colegios-publicos.json'# Body
pulls_response_1 = requests.get(end_point_1 + body_1)

In [23]:
status_1 = pulls_response_1.status_code
status_1

200

In [24]:
#content = pulls_response.content
#content

In [25]:
pulls_json_1 = pulls_response_1.json()
print(type(pulls_json_1))
print(len(pulls_json_1))
#pulls_json_1

<class 'dict'>
2

In [26]:
df_col_pub = pd.json_normalize(pulls_json_1, ['@graph'])
df_col_pub.head()

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,176850,Colegio Público Adolfo Suárez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,ENSEÑANZAS: Segundo ciclo de E. Infantil - Pr...,0,,Comedor - Horario ampliado - Planes de mejora.,Colegio Público Adolfo Suárez
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5075,Colegio Público Agustina Díez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28038,CALLE VESUBIO 5,40.388191,-3.647237,ENSEÑANZA: Educación infantil - Primaria METR...,0,,Comedor - Horario ampliado,Colegio Público Agustina Díez
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4693138,Colegio Público Agustín Rodriguez Sahagún,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28031,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,ENSEÑANZA: Educacion Infantil - Primaria - En...,0,,Horario ampliado - Comedor - Planes de mejora,Colegio Público Agustín Rodriguez Sahagún
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5076,Colegio Público Alberto Alcocer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28022,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,ENSEÑANZA: Educación Infantil - Primaria - En...,0,,Comedor - Transporte - Horario ampliado - Plan...,Colegio Público Alberto Alcocer
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5077,Colegio Público Alcalde de Móstoles,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,ENSEÑANZA: Educación Infantil - Primaria BUS:...,0,,Transporte - Comedor - Horario ampliado - Plan...,Colegio Público Alcalde de Móstoles

In [27]:
df_col_pub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   @id                             249 non-null    object
 1   @type                           249 non-null    object
 2   id                              249 non-null    object
 3   title                           249 non-null    object
 4   relation                        249 non-null    object
 5   address.district.@id            249 non-null    object
 6   address.area.@id                249 non-null    object
 7   address.locality                249 non-null    object
 8   address.postal-code             249 non-null    object
 9   address.street-address          249 non-null    object
 10  location.latitude               249 non-null    float64
 11  location.longitude              249 non-null    float64
 12  organization.organization-desc  249 non-null    object
 13  organization.accesibility       249 non-null    object
 14  organization.schedule           249 non-null    object
 15  organization.services           249 non-null    object
 16  organization.organization-name  249 non-null    object
dtypes: float64(2), object(15)
memory usage: 33.2+ KB

In [28]:
df_col_pub_2 = df_col_pub[["title", "address.street-address", "location.latitude", "location.longitude", 
                 "organization.organization-name"]]
df_col_pub_2.head()

,title,address.street-address,location.latitude,location.longitude,organization.organization-name
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegio Público Adolfo Suárez
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegio Público Agustina Díez
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegio Público Agustín Rodriguez Sahagún
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegio Público Alberto Alcocer
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegio Público Alcalde de Móstoles

In [29]:
df_col_pub_2["Type of place"] = df_col_pub_2["organization.organization-name"].str.split(" ", 
    expand = True)[0] + " " + df_col_pub_2["organization.organization-name"].str.split(" ", expand = True)[1]
df_col_pub_2.head()

C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\2465598564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_2["Type of place"] = df_col_pub_2["organization.organization-name"].str.split(" ",

,title,address.street-address,location.latitude,location.longitude,organization.organization-name,Type of place
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegio Público Adolfo Suárez,Colegio Público
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegio Público Agustina Díez,Colegio Público
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegio Público Agustín Rodriguez Sahagún,Colegio Público
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegio Público Alberto Alcocer,Colegio Público
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegio Público Alcalde de Móstoles,Colegio Público

In [30]:
df_col_pub_2.columns

Index(['title', 'address.street-address', 'location.latitude',
       'location.longitude', 'organization.organization-name',
       'Type of place'],
      dtype='object')

In [31]:
df_col_pub_2['Place address'] = df_col_pub_2['address.street-address'].apply(lambda x: x.title())
df_col_pub_2.head()

C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\3532249340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_2['Place address'] = df_col_pub_2['address.street-address'].apply(lambda x: x.title())

,title,address.street-address,location.latitude,location.longitude,organization.organization-name,Type of place,Place address
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9

In [43]:
df_col_pub_2["Place address"] = df_col_pub_2["Place address"].str.replace("Plaza Pe&Amp;Ntilde;A Morraz 1", 
                                                                              "Plaza Peña Morraz 1")
df_col_pub_2["Place address"] = df_col_pub_2["Place address"].str.replace("Calle Jose Ortu&Amp;Ntilde;O Ponce 2", 
                                                                              "Calle Jose Ortuño Ponce 2")

C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\2752000545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_2["Place address"] = df_col_pub_2["Place address"].str.replace("Plaza Pe&Amp;Ntilde;A Morraz 1",
C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\2752000545.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_2["Place address"] = df_col_pub_2["Place address"].str.replace("Calle Jose Ortu&Amp;Ntilde;O Ponce 2",

In [44]:
df_col_pub_2.columns

Index(['title', 'address.street-address', 'location.latitude',
       'location.longitude', 'organization.organization-name', 'Type of place',
       'Place address'],
      dtype='object')

In [45]:
df_col_pub_3 = df_col_pub_2[["title", "location.latitude", "location.longitude", "Type of place", "Place address"]]
df_col_pub_3.head()

,title,location.latitude,location.longitude,Type of place,Place address
0,Colegio Público Adolfo Suárez,40.488603,-3.652554,Colegio Público,Calle Infanta Catalina Micaela 31
1,Colegio Público Agustina Díez,40.388191,-3.647237,Colegio Público,Calle Vesubio 5
2,Colegio Público Agustín Rodriguez Sahagún,40.368040,-3.622168,Colegio Público,Calle La Granja De San Ildefonso 17
3,Colegio Público Alberto Alcocer,40.433338,-3.612052,Colegio Público,Avenida Canillejas A Vicalvaro 56
4,Colegio Público Alcalde de Móstoles,40.379837,-3.776448,Colegio Público,Calle Aldeanueva De La Vera 9

In [46]:
df_col_pub_3.columns

Index(['title', 'location.latitude', 'location.longitude', 'Type of place',
       'Place address'],
      dtype='object')

In [47]:
df_col_pub_3['Latitude'] = df_col_pub_3['location.latitude'].astype(float)
df_col_pub_3['Longitude'] = df_col_pub_3['location.longitude'].astype(float)
df_col_pub_3.head()

C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\1930666906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_3['Latitude'] = df_col_pub_3['location.latitude'].astype(float)

,title,location.latitude,location.longitude,Type of place,Place address,Latitude,Longitude
0,Colegio Público Adolfo Suárez,40.488603,-3.652554,Colegio Público,Calle Infanta Catalina Micaela 31,40.488603,-3.652554
1,Colegio Público Agustina Díez,40.388191,-3.647237,Colegio Público,Calle Vesubio 5,40.388191,-3.647237
2,Colegio Público Agustín Rodriguez Sahagún,40.368040,-3.622168,Colegio Público,Calle La Granja De San Ildefonso 17,40.368040,-3.622168
3,Colegio Público Alberto Alcocer,40.433338,-3.612052,Colegio Público,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052
4,Colegio Público Alcalde de Móstoles,40.379837,-3.776448,Colegio Público,Calle Aldeanueva De La Vera 9,40.379837,-3.776448

In [48]:
df_col_pub_3.columns

Index(['title', 'location.latitude', 'location.longitude', 'Type of place',
       'Place address', 'Latitude', 'Longitude'],
      dtype='object')

In [49]:
df_col_pub_4 = df_col_pub_3[["title", "Type of place", "Place address", "Latitude", "Longitude"]]
df_col_pub_4.head()

,title,Type of place,Place address,Latitude,Longitude
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31,40.488603,-3.652554
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5,40.388191,-3.647237
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17,40.368040,-3.622168
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9,40.379837,-3.776448

In [50]:
df_col_pub_4.columns

Index(['title', 'Type of place', 'Place address', 'Latitude', 'Longitude'], dtype='object')

In [51]:
df_col_pub_4.rename(columns = {'title':'Place of interest'}, inplace = True)
df_col_pub_4.head()

C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\3658893173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_4.rename(columns = {'title':'Place of interest'}, inplace = True)

,Place of interest,Type of place,Place address,Latitude,Longitude
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31,40.488603,-3.652554
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5,40.388191,-3.647237
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17,40.368040,-3.622168
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9,40.379837,-3.776448

In [52]:
df_col_pub_4.columns

Index(['Place of interest', 'Type of place', 'Place address', 'Latitude',
       'Longitude'],
      dtype='object')

In [53]:
list(df_col_pub_4['Place address'])

['Calle Infanta Catalina Micaela 31',
 'Calle Vesubio 5',
 'Calle La Granja De San Ildefonso 17',
 'Avenida Canillejas A Vicalvaro 56',
 'Calle Aldeanueva De La Vera 9',
 'Calle Fuente De San Pedro 6',
 'Calle Felix Candela 4',
 'Calle Ramon Gomez De La Serna 103',
 'Calle Los Yebenes 6',
 'Paseo Marques De Zafra 16',
 'Calle Rodriguez Espinosa 54',
 'Avenida Las Suertes 109',
 'Avenida Santuario De Valverde 71',
 'Calle Allariz 3',
 'Calle Olmo 4',
 'Calle Juan Jose Martinez Seco 77',
 'Avenida Rafael Alberti 2',
 'Calle Estudio 6',
 'Calle Antonio Moreno 25',
 'Calle Rosa Jardon 10',
 'Calle Asturianos 2',
 'Calle Estefanita 9',
 'Calle Godella 57',
 'Avenida La Verbena De La Paloma 14',
 'Calle Fromista 27',
 'Calle Puentelarra 34',
 'Calle Villavaliente 29',
 'Calle Islas Cies 11',
 'Calle Ginzo De Limia 2',
 'Calle Calderon 2',
 'Calle Melchor Fernandez Almagro 22',
 'Calle Monseñor Oscar Romero 17',
 'Calle Fermin Caballero 68',
 'Calle Cartama 1',
 'Calle Virgen Del Val 3',
 'Calle Cangas De Onis 7',
 'Calle Titanio 16',
 'Calle Raimundo Fernandez Villaverde 4',
 'Avenida Septima 12',
 'Calle Fray Jose Cerdeiriña 51',
 'Calle Lillo 1',
 'Calle Bergantin 13',
 'Calle Madre Rosa Blanco 3',
 'Calle Juan Esplandiu 2',
 'Avenida Mediterraneo 91',
 'Calle Manuel Aguilar Muñoz 1',
 'Calle La Alegria De La Huerta 6',
 'Calle Cea Bermudez 26',
 'Avenida Monforte De Lemos 24',
 'Calle Antonio Lopez 1',
 'Calle Gerardo Diego 6',
 'Calle Elfo 143',
 'Avenida Niceto Alcala Zamora 48',
 'Calle Camarena 247',
 'Carretera Carabanchel A Villaverde 109',
 'Calle Tembleque 58',
 'Calle Armenteros 46',
 'Calle Zipaquira 14',
 'Calle Hacienda De Pavones 105',
 'Avenida Doctor Federico Rubio Y Gali 53',
 'Calle Ezcaray 3',
 'Calle Asturianos 4',
 'Avenida Espinela 1',
 'Paseo Comandante Fortea 71',
 'Calle Eduardo Rojo 5',
 'Calle Unanimidad 1',
 'Calle Estefanita 7',
 'Calle Las Marismas 14',
 'Calle Fuentidueña 4',
 'Avenida Canillejas A Vicalvaro 82',
 'Calle Ventorrillo 14',
 'Paseo Ermita Del Santo 18',
 'Calle Pio Baroja 4',
 'Avenida Santo Angel De La Guarda 4',
 'Calle Andorra 12',
 'Calle Valdevarnes 26',
 'Avenida Asturias 70',
 'Calle Fernando El Catolico 16',
 'Avenida Valladolid 2',
 'Calle Santa Adela 21',
 'Calle Arroyo Fontarron 24',
 'Calle Sondica 2',
 'Camino Suerte 23',
 'Calle Almuradiel 150',
 'Calle Antillon 23',
 'Calle Corregidor Rodrigo Rodriguez 5',
 'Calle Granada 16',
 'Camino Valderribas 120',
 'Calle Mirallos 3',
 'Calle Gandhi 10',
 'Calle Trefacio 18',
 'Ronda Sur 229',
 'Calle Membezar 25',
 'Calle Censo 3',
 'Calle Adanero 3',
 'Avenida Abrantes 5',
 'Calle Boston 3',
 'Calle Santa Genoveva 32',
 'Calle Guabairo 22',
 'Calle Azor 4',
 'Calle Los Yebenes 241',
 'Paseo Federico Garcia Lorca 19',
 'Calle Valdetorres De Jarama 1',
 'Calle Alejandro Rodriguez 34',
 'Calle Monasterio De El Paular 140',
 'Calle Dracena 29',
 'Glorieta Rufino Novalvos 5',
 'Calle Barcelo 2',
 'Calle Sierra De La Solana 2',
 'Calle Bravo Murillo 162',
 'Calle Javier De Miguel 90',
 'Paseo Pontones 8',
 'Paseo Olivos 70',
 'Calle Arturo Soria 332',
 'Avenida El Ferrol 47',
 'Plaza Pintor Lucas 17',
 'Calle Triacastela 1',
 'Calle Braille 19',
 'Avenida Ciudad De Barcelona 83',
 'Calle Mestanza 94',
 'Calle Orense 87',
 'Calle Puentedey 14',
 'Calle Monroy 34',
 'Calle Muela De San Juan 31',
 'Calle Marques De Viana 58',
 'Calle Mirasierra 29',
 'Calle Via De Los Poblados 19',
 'Calle Villarrosa 7',
 'Avenida Abrantes 79',
 'Calle Budapest 11',
 'Calle Musas 9',
 'Paseo Lanceros 4',
 'Calle Maqueda 130',
 'Calle Leon Felipe 3',
 'Paseo Acacias 2',
 'Calle Pedrezuela 18',
 'Calle Castiello De Jaca 2',
 'Calle Valderrey 9',
 'Calle Inglaterra 8',
 'Calle Valencia De Don Juan 13',
 'Calle Ladera De Los Almendros 45',
 'Avenida Los Rosales 131',
 'Calle Embalse De Navacerrada 60',
 'Calle Luis Cabrera 66',
 'Calle Carril Del Conde 64',
 'Calle Sarria 49',
 'Calle Puerto De Balbaran 133',
 'Avenida Peseta 112',
 'Calle Jose De Cadalso 19',
 'Calle Martos 120',
 'Calle Camino De Los Vinateros 104',
 'Calle Jose Ortuño Ponce 2',
 'Calle Perales De Tajuña 1',
 'Glorieta Playa De San Lorenzo 4',
 'Calle Longares 11',
 'Calle Linneo 31',
 'Avenida Veinticinco De Septiembre 1',
 'Calle Hacienda De Pavones 223',
 'Calle Arcos De Jalon 34',
 'Calle Enrique Garcia Alvarez 11',
 'Calle Mendez Alvaro 16',
 'Calle Encomienda De Palacios 85',
 'Calle Camino Viejo De Villaverde 1',
 'Calle Pont De Molins 31',
 'Calle Hermanos Garcia Noblejas 70',
 'Calle Fragata 33',
 'Calle Alicante 5',
 'Calle La Maso 22',
 'Avenida Guardia 19',
 'Avenida Badajoz 74',
 'Calle Alicun 9',
 'Calle Benimamet 109',
 'Calle Lope De Rueda 48',
 'Calle Virgen Del Sagrario 24',
 'Calle Tomelloso 39',
 'Calle Magnesia 9',
 'Calle Tabernillas 2',
 'Calle Muñico 1',
 'Calle Maria Reiche 34',
 'Calle Angel Luis De La Herran 35',
 'Calle Gutierrez Canales 19',
 'Ronda Sur 145',
 'Avenida Alfonso Xiii 23',
 'Paseo Prado 38',
 'Calle Felipe De Diego 6',
 'Calle Quero 47',
 'Calle Parque Eugenia De Montijo 28',
 'Avenida Doctor Garcia Tapia 47',
 'Calle Lopez De Hoyos 40',
 'Calle Marmolina 5',
 'Calle Baleares 18',
 'Plaza Dos De Mayo 2',
 'Calle Patrimonio De La Humanidad 39',
 'Avenida San Luis 23',
 'Calle Principe De Vergara 139',
 'Calle Tejo 5',
 'Calle Juan Alvarez Mendizabal 20',
 'Calle Parque De La Paloma 9',
 'Calle Kant 2',
 'Calle Segura 74',
 'Calle Luis De Hoyos Sainz 84',
 'Calle Delfin 2',
 'Calle Julio Palacios 35',
 'Calle Serrano 127',
 'Calle Godella 170',
 'Calle Alconera 1',
 'Calle Motilla Del Palancar 19',
 'Calle Corregidor Juan Francisco De Lujan 114',
 'Avenida Moratalaz 51',
 'Calle Principe De Vergara 61',
 'Ronda Don Bosco 2',
 'Avenida Fueros 34',
 'Calle Castillo De Ucles 28',
 'Plaza Alloz 3',
 'Calle Valle De Oro 41',
 'Calle Sacedon 2',
 'Calle Peones 2',
 'Calle Manresa 60',
 'Avenida Nuestra Señora De Valvanera 120',
 'Calle Cerecinos 8',
 'Calle Bardegueral 16',
 'Calle General Alvarez De Castro 46',
 'Calle Paterna 14',
 'Calle Juan Perez Zuñiga 36',
 'Calle Villastar 8',
 'Calle Bravo Murillo 41',
 'Calle Peñuelas 31',
 'Avenida Abrantes 1',
 'Calle Alfonso Vi 1',
 'Calle Fuenterrabia 15',
 'Calle Sorzano 1',
 'Calle Santa Irene 2',
 'Calle Honduras 10',
 'Avenida Virgen Del Carmen 32',
 'Plaza Peña Morraz 1',
 'Calle Oxigeno 43',
 'Calle Casino 7',
 'Calle San Feliu De Guixols 7',
 'Calle Bronce 1',
 'Calle Alejandro Dumas 4',
 'Calle Tren De Arganda 9',
 'Calle Nuestra Señora De Valverde 149',
 'Calle Forges 15',
 'Calle Mohernando 1',
 'Avenida Manoteras 63',
 'Calle Bailen 18',
 'Avenida Gran Via Del Este 5',
 'Avenida Filipinas 5',
 'Calle Zurich 10']

In [54]:
bicimad_stations = pd.read_csv('../data/bicimad_stations.csv')
bicimad_stations.head()

,BiciMAD station,Station location,Coordinates
0,1a - Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]"
1,1b - Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]"
2,2 - Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]"
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]"
4,4 - Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]"

In [55]:
bicimad_stations["Station location"] = bicimad_stations["Station location"].str.replace(" nº", "")
bicimad_stations.head()

,BiciMAD station,Station location,Coordinates
0,1a - Puerta del Sol A,Puerta del Sol 1,"[-3.7018341, 40.4172137]"
1,1b - Puerta del Sol B,Puerta del Sol 1,"[-3.701602938060457, 40.41731271011562]"
2,2 - Miguel Moya,Calle Miguel Moya 1,"[-3.7058415, 40.4205886]"
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil 3,"[-3.7069171, 40.4302937]"
4,4 - Malasaña,Calle Manuela Malasaña 5,"[-3.7025875, 40.4285524]"

In [56]:
list(bicimad_stations['Station location'])

['Puerta del Sol 1',
 'Puerta del Sol 1',
 'Calle Miguel Moya 1',
 'Plaza del Conde del Valle de Súchil 3',
 'Calle Manuela Malasaña 5',
 'Calle Fuencarral 108',
 'Calle Hortaleza 63',
 'Calle Hortaleza 75',
 'Plaza de Alonso Martínez 5',
 'Plaza de San Miguel 9',
 'Calle Marqués de la Ensenada 16',
 'Calle San Andrés 18',
 'Calle San Bernardo 85',
 'Calle Conde Duque 22',
 'Calle Duque de Liria',
 'Calle San Vicente Ferrer 64',
 'Calle San Bernardo 22',
 'Plaza de Carlos Cambronero 2',
 'Plaza de Pedro Zerolo 1',
 'Calle Prim 2',
 'Calle Alcalá 49',
 'Calle Jacometrezo 3',
 'Plaza de Santo Domingo 1',
 'Calle Carlos III 1',
 'Plaza de Celenque 1',
 'Plaza de Celenque 1',
 'Plaza de las Salesas 7',
 'Calle Jesús 1',
 'Calle Alcalá 27',
 'Calle del Marqués de Cubas 25',
 'Calle Pavía 6',
 'Calle Mayor 20',
 'Plaza de la Provincia 1',
 'Calle Carretas 8',
 'Plaza de Jacinto Benavente',
 'Plaza del Cordón',
 'Plaza de Ramales',
 'Plaza de San Francisco 5',
 'Carrera de San Francisco 1',
 'Plaza de la Cebada 16 ',
 'Plaza del Conde de Romanones 9',
 'Calle Atocha 54',
 'Calle Atocha 95',
 'Calle Lavapiés 34',
 'Calle Mesón de Paredes 35',
 'Glorieta de la Puerta de Toledo 1',
 'Calle Ribera de Curtidores 28',
 'Glorieta de Embajadores 6',
 'Glorieta de Embajadores 2',
 'Ronda de Atocha 34',
 'Calle Santa Isabel 57',
 'Ronda de Atocha 2',
 'Plaza de Santa Ana 10',
 'Calle Valencia 1',
 'Calle Barceló 7',
 'Plaza de San Ildefonso',
 'Plaza del Carmen 1',
 'Calle Santa Cruz del Marcenado 24',
 'Calle Augusto Figueroa 33',
 'Calle Espíritu Santo 30',
 'Plaza de la Independencia 6',
 "Calle O'Donnell 28",
 "Calle O'Donnell 50",
 'Calle Ibiza 62',
 'Calle Antonio Maura 15',
 'Calle Almadén 28',
 'Calle Espalter 1',
 'Avenida de Alfonso XII 54',
 'Avenida de Menéndez Pelayo 63',
 'Calle Doce de Octubre 28',
 'Calle Doctor Esquerdo 99',
 'Avenida de Nazaret 7',
 'Avenida de Menéndez Pelayo 73',
 'Avenida de Menéndez Pelayo con calle Poeta Esteban Villegas',
 'Avenida del Mediterráneo 19',
 'Plaza del Conde de Casal 8',
 'Calle Cerro de la Plata 2',
 'Avenida de Menéndez Pelayo 38',
 'Paseo de la Infanta Isabel 3',
 'Paseo de la Infanta Isabel 3',
 'Cuesta de Claudio Moyano',
 'Calle Doctor Esquerdo 161',
 'Calle Pío Baroja 10',
 'Calle Doctor Esquerdo 191',
 "Avenida de Menéndez Pelayo esquina calle O'Donnell",
 'Plaza Cibeles',
 'Calle Ayala 44',
 'Calle Velázquez 75',
 'Calle Ayala 102',
 'Calle Goya 18',
 'Calle Hermosilla 70',
 'Calle Claudio Coello 45',
 'Calle Goya 1',
 'Paseo de Recoletos 20',
 'Calle Claudio Coello 109',
 'Calle Alcalá 111',
 'Avenida de Menéndez Pelayo 3',
 'Plaza de Felipe II',
 'Calle Alcántara 2',
 'Calle Goya 99',
 'Calle Jorge Juan 131',
 'Calle Alcalá 95',
 'Calle José Ortega y Gasset 4',
 'Paseo de la Castellana 4',
 'Calle Serrano 54',
 'Calle Serrano 34',
 'Calle Serrano 34',
 'Calle Serrano 8',
 'Calle Mártires Concepcionistas 2',
 'Calle José Ortega y Gasset 30',
 'Paseo de Moret 2',
 'Calle Arcipreste de Hita 12',
 'Calle Arcipreste de Hita 12',
 'Paseo de Moret 11',
 'Paseo del Pintor Rosales frente al 38',
 'Calle Quintana 11',
 'Calle Evaristo San Miguel 2',
 'Calle Princesa 5',
 'Calle Princesa 5',
 'Calle Altamirano 24',
 'Calle Juan Martín el Empecinado 16',
 'Calle Méndez Álvaro 11',
 'Calle Palos de la Frontera 27',
 'Paseo de Santa María de la Cabeza 58',
 'Calle Santa Engracia 14',
 'Calle Guzmán el Bueno 1',
 'Calle Manuel Silvela 20',
 'Calle Fernández de la Hoz 29',
 'Calle del General Álvarez de Castro 1',
 'Calle Fernando el Católico 19',
 'Calle Cea Bermúdez 59',
 'Calle José Abascal 33',
 'Calle Santa Engracia 127',
 'Calle Bravo Murillo 44',
 'Calle Santa Engracia 168',
 'Calle Raimundo Fernández Villaverde 33',
 'Calle María de Guzmán 58',
 'Plaza de San Juan de la Cruz 11',
 'Paseo de la Castellana 106',
 'Plaza de la República Argentina 6',
 'Paseo de la Castellana esquina calle Raimundo Fernández Villaverde',
 'Calle José Gutiérrez Abascal 2',
 'Calle Velázquez 130',
 'Paseo de la Castellana 43',
 'Paseo de la Castellana 42',
 'Calle Diego de León 52',
 'Calle Juan Bravo 50',
 'Calle Ortega y Gasset 87',
 'Calle María Francisca 1',
 'Avenida del Doctor Arce 45',
 'Calle Serrano 210',
 'Paseo de la Habana 42',
 'Paseo de la Castellana 122',
 'Calle Orense 12',
 'Avenida del General Perón frente al 4',
 'Avenida del General Perón frente al 36',
 'Calle Orense 36',
 'Calle San Germán 57',
 'Calle Sor Ángela de la Cruz 2',
 'Paseo de la Castellana 164',
 'Avenida de Alberto Alcocer 22',
 'Paseo de la Habana 63',
 'Calle Colombia 7',
 'Paseo de la Florida 8',
 'Paseo de los Olmos 28',
 'Paseo de la Esperanza 2',
 'Paseo de las Delicias 92',
 'Paseo de la Chopera 14',
 'Calle Segovia 26',
 'Calle Segovia 45',
 'Paseo Santa María de la Cabeza 29',
 'Calle Toledo 181',
 'Paseo de la Esperanza 21',
 'Calle Embajadores 101',
 'Calle Bustamante 1',
 'Paseo de la Esperanza 59',
 'Paseo de Yeserías 45',
 'Calle Jaime el Conquistador 30',
 'Calle Alicante 3',
 'Calle Bolívar 3',
 'Calle León Gil de Palacio 3',
 'Avenida de la Albufera 6',
 'Calle Retama 5',
 'Calle Ibiza 18',
 'Calle Alcalde Sáinz de Baranda frente al 107',
 'Calle Hermosilla 135',
 'Paseo Marqués de Zafra 24',
 'Calle Sancho Dávila esquina Paseo Marqués de Zafra',
 'Calle General Pardiñas 56',
 'Calle Alejandro González 1',
 'Avenida de Daroca 2',
 'Calle Virgen de la Alegría 18',
 'Calle Velázquez 91',
 'Calle Alonso Heredia 1',
 'Avenida de los Toreros 3',
 'Avenida de los Toreros 49',
 'Calle Francisco Silvela 86',
 'Calle Padre Indalecio Hernández 1',
 'Calle Suero de Quiñones 2',
 'Avenida de Concha Espina 34',
 'Glorieta Rubén Darío 2',
 'Calle Fernando el Católico 61',
 'Glorieta de Quevedo 5',
 'Calle José Abascal frente al 2',
 'Calle Santander esquina con Avenida de Filipinas',
 'Calle General Ampudia 2',
 'Calle Doctor Santero 1',
 'Calle Navarra 1',
 'Calle Marqués de Viana 3',
 'Calle Azucenas 1',
 'Paseo de la Castellana 216',
 'Paseo Castellana (Fundación Canal)',
 'Calle Tres Cruces 7',
 'Calle Desengaño 1',
 'Glorieta Marqués de Vadillo 9',
 'Calle Antonio López 129',
 'Calle Condesa de Venadito 2',
 'Calle Gutierre de Cetina 77',
 'Plaza Puerta del Ángel 4',
 'Calle Pedro Rico 4',
 'Calle Camino de los Vinateros 28',
 'Calle Camino de los Vinateros 108',
 'Calle Arroyo de las Pilillas 6',
 'Calle Hacienda de Pavones 342',
 'Calle Eugenio Caxes frente al 12',
 'Paseo de la Ermita del Santo 48',
 'Calle Caramuel 51',
 'Calle Sierra Toledana 33',
 'Camino de Valderribas 94',
 'Calle Arroyo del Olivar 6',
 'Calle San Delfín 9',
 'Calle Jose del Hierro 5',
 "Calle Carlota O'Neill 32",
 'Calle Derechos Humanos 12',
 'Calle José María de Pereda 1',
 'Avenida Marqués de Corbera 12',
 'Avenida Marqués de Corbera 52',
 'Calle Sodio 1B',
 'Paseo Imperial 20',
 'Calle Francisco Balseiro 1',
 'Calle San Germán 5',
 'Calle Francos Rodríguez 62',
 'Avenida de Brasilia frente al 9',
 'Avenida de Camilo José Cela 23',
 'Avenida Bruselas 56',
 'Calle Cartagena 34',
 'Calle Isaac Peral 44',
 'Calle Galileo 63',
 'Calle Santa Engracia 87',
 'Calle Zurbano 90',
 'Calle Sinesio Delgado 2',
 'Paseo de la Castellana 298',
 'Calle Serrano 113B',
 'Calle Santa Hortensia 31',
 'Calle Rodríguez Jaén 40',
 'Calle Doctor Fleming 7',
 'Avenida Pío XII 3',
 'Calle General López Pozas 2',
 'Calle Beatriz de Bobadilla frente al 2',
 'Avenida Juan de Herrera frente a la calle Paul Guinard',
 'Avenida de la Complutense (Metro Ciudad Universitaria)',
 'Avenida de la Complutense (Metro Ciudad Universitaria)',
 'Calle José Antonio Novais frente al 12',
 'Avenida Complutense 23']

In [57]:
bicimad_stations["Longitude"] = bicimad_stations["Coordinates"].str.split(",", 
                        expand = True)[0].str.split("[", expand = True)[1]
bicimad_stations["Latitude"] = bicimad_stations["Coordinates"].str.split(",", 
                        expand = True)[1].str.split("]", expand = True)[0]
bicimad_stations["BiciMAD station"] = bicimad_stations["BiciMAD station"].str.split("- ", expand = True)[1]
bicimad_stations.head()

,BiciMAD station,Station location,Coordinates,Longitude,Latitude
0,Puerta del Sol A,Puerta del Sol 1,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137
1,Puerta del Sol B,Puerta del Sol 1,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562
2,Miguel Moya,Calle Miguel Moya 1,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil 3,"[-3.7069171, 40.4302937]",-3.7069171,40.4302937
4,Malasaña,Calle Manuela Malasaña 5,"[-3.7025875, 40.4285524]",-3.7025875,40.4285524

In [58]:
bicimad_stations_1 = bicimad_stations[["BiciMAD station", "Station location", "Latitude", "Longitude"]]
bicimad_stations_1.head()

,BiciMAD station,Station location,Latitude,Longitude
0,Puerta del Sol A,Puerta del Sol 1,40.4172137,-3.7018341
1,Puerta del Sol B,Puerta del Sol 1,40.41731271011562,-3.701602938060457
2,Miguel Moya,Calle Miguel Moya 1,40.4205886,-3.7058415
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil 3,40.4302937,-3.7069171
4,Malasaña,Calle Manuela Malasaña 5,40.4285524,-3.7025875

In [59]:
bicimad_stations_1['Latitude'] = bicimad_stations_1['Latitude'].astype(float)
bicimad_stations_1['Longitude'] = bicimad_stations_1['Longitude'].astype(float)
bicimad_stations_1.head()

C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\2407731703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bicimad_stations_1['Latitude'] = bicimad_stations_1['Latitude'].astype(float)
C:\Users\Marguis\AppData\Local\Temp\ipykernel_1916\2407731703.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bicimad_stations_1['Longitude'] = bicimad_stations_1['Longitude'].astype(float)

,BiciMAD station,Station location,Latitude,Longitude
0,Puerta del Sol A,Puerta del Sol 1,40.417214,-3.701834
1,Puerta del Sol B,Puerta del Sol 1,40.417313,-3.701603
2,Miguel Moya,Calle Miguel Moya 1,40.420589,-3.705842
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil 3,40.430294,-3.706917
4,Malasaña,Calle Manuela Malasaña 5,40.428552,-3.702587

In [60]:
bicimad_stations_1['Station location'].str.contains('Sierra de Guadalupe').any()

False

In [61]:
from shapely.geometry import Point
import geopandas as gpd   # conda install -c conda-forge geopandas
from pyproj import CRS

def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [62]:
def closest_station(df_bici, lat_cp, long_cp):
    dist_min = 5000000
    for i, j in df_bici.iterrows():
        #print(i)
        #print(j)
        dist = distance_meters(j[-2], j[-1], lat_cp, long_cp)[0]
        #print(dist)
        if (dist < dist_min):
            dist_min = dist
            closest_point = j
    return closest_point

In [63]:
%%time
closest_station(bicimad_stations_1, 40.368040, -3.622168)

CPU times: total: 4.17 s
Wall time: 4.16 s

BiciMAD station                           Pavones
Station location    Calle Hacienda de Pavones 342
Latitude                                40.400368
Longitude                               -3.634587
Name: 223, dtype: object

In [64]:
%%time
all_closest_stations = df_col_pub_4.apply(lambda x: closest_station(bicimad_stations_1, x["Latitude"], 
                                            x["Longitude"]), axis=1)
all_closest_stations

CPU times: total: 17min 5s
Wall time: 17min 7s

,BiciMAD station,Station location,Latitude,Longitude
0,Manuel Caldeiro,Paseo de la Castellana 298,40.479380,-3.685320
1,Sierra Toledana,Camino de Valderribas 94,40.399015,-3.660777
2,Pavones,Calle Hacienda de Pavones 342,40.400368,-3.634587
3,Gutierre de Cetina,Calle Gutierre de Cetina 77,40.429706,-3.640994
4,Caramuel,Calle Caramuel 51,40.409136,-3.728534
...,...,...,...,...
244,Manuel Caldeiro,Paseo de la Castellana 298,40.479380,-3.685320
245,Plaza de San Francisco,Plaza de San Francisco 5,40.410800,-3.714113
246,Pavones,Calle Hacienda de Pavones 342,40.400368,-3.634587
247,Parque Santander,Calle Santander esquina con Avenida de Filipinas,40.441139,-3.708083
248,Pavones,Calle Hacienda de Pavones 342,40.400368,-3.634587

In [65]:
df_col_pub_5 = df_col_pub_4[["Place of interest", "Type of place", "Place address"]]
df_col_pub_5.head()

,Place of interest,Type of place,Place address
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9

In [66]:
df_col_pub_5.columns

Index(['Place of interest', 'Type of place', 'Place address'], dtype='object')

In [67]:
bicimad_stations_2 = all_closest_stations[["BiciMAD station", "Station location"]]
bicimad_stations_2.head()

      BiciMAD station               Station location
0     Manuel Caldeiro     Paseo de la Castellana 298
1     Sierra Toledana       Camino de Valderribas 94
2             Pavones  Calle Hacienda de Pavones 342
3  Gutierre de Cetina    Calle Gutierre de Cetina 77
4            Caramuel              Calle Caramuel 51

In [68]:
bicimad_stations_2.columns

Index(['BiciMAD station', 'Station location'], dtype='object')

In [69]:
nearest_bicimad_cp = pd.concat([df_col_pub_5, bicimad_stations_2], axis=1)
nearest_bicimad_cp.head()

,Place of interest,Type of place,Place address,BiciMAD station,Station location
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31,Manuel Caldeiro,Paseo de la Castellana 298
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5,Sierra Toledana,Camino de Valderribas 94
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17,Pavones,Calle Hacienda de Pavones 342
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56,Gutierre de Cetina,Calle Gutierre de Cetina 77
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9,Caramuel,Calle Caramuel 51

In [70]:
nearest_bicimad_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Place of interest  249 non-null    object
 1   Type of place      249 non-null    object
 2   Place address      249 non-null    object
 3   BiciMAD station    249 non-null    object
 4   Station location   249 non-null    object
dtypes: object(5)
memory usage: 9.9+ KB

In [71]:
nearest_bicimad_cp.columns

Index(['Place of interest', 'Type of place', 'Place address',
       'BiciMAD station', 'Station location'],
      dtype='object')

In [74]:
nearest_bicimad_cp.to_csv('../data/nearest_bicimad_cp.csv', index=False, encoding='utf-8')